
@{
    ViewBag.Title = "Board";
}
@Styles.Render("~/Content/MyCSS.css")
<h2>Board</h2>
@*@ViewBag.Board.Size*@


<table  >
    @{ for (int i = 0; i < ViewBag.Board.Size; i++)
        {
            <tr>
                @{for (int j = 0; j < ViewBag.Board.Size; j++)
                    {
                        <td id="@((i * 8) + j)" onclick="location.href='@Url.Action("Move", "Board",new { width = i, heigh = j })'">
                            @{ if (ViewBag.Board.theGrid[i, j].IsLegalMove)
                                { <p>+</p> }
                                else if (ViewBag.Board.theGrid[i, j].IsOccupaied)
                                { <p>X</p> }
                                else
                                { <p>-</p> }
                            }
                        </td>
                    }
                }
            </tr>
        }
    }
</table>

<form method="post" action="@Url.Action("PickChess", "Board")">
    <input type="radio" id="Knight" name="chessPiece" value="Knight" />
    <label for="Knight">Knight</label><br />
    <input type="radio" id="King" name="chessPiece" value="King" />
    <label for="King">King</label><br />
    <input type="submit" value="Wybierz" />
</form>
@*<ul>
    <li onclick="location.href='@Url.Action("PickChess", "Board",new { chessPiece="Knight" })'">Knight</li>
    <li onclick="location.href='@Url.Action("PickChess", "Board",new { chessPiece="King" })'">King</li>
</ul>*@
